<p>
  prpoety-demo works!
</p>

<input type="text" name="" id="" value="HI Hello">
<br><br>
<input type="text" [value]="name"> <br><br>

<div hidden="{{ishidden}}">Hi Welcome using String Interpolation </div> <br><br>

<div [hidden]="ishidden1"> Hi Welcome My Angular Lecture Hopes So U R Enjoying </div>

<img [src]="imgurl" alt="" style="width: 200px;height: 200px;">
<br><br>
<button [disabled]="isdissable">Click Me</button>

<div [hidden]="ishidden2" class="mydiv"> 

</div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>