<p>
  eventbinding works!
</p>
<button (click)="OnShowMe()">Show Me </button>
<div [hidden]="ishidden">
{{name}}
</div>
<hr>
<button (click)="onRed()">Red</button>
<button (click)="onGreen()">Green</button>
<button (click)="onBlue()">Blue</button>
<div [style.background]="mycolor">

</div>
<hr>
<button (click)="onColor('red')">Red</button>
<button (click)="onColor('green')">Green</button>
<button (click)="onColor('blue')">Blue</button>
<div [style.background]="mycolor1">
</div>

<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>