<p>
  inbuildpipe works!
</p>

<!-- <h1> {{strdetails}} </h1>
<h1> {{strdetails | uppercase }} </h1>
<h1> {{strdetails | lowercase}} </h1>
<h1> {{strdetails | titlecase}} </h1>
<h1> {{strdetails | slice:3}} </h1>
<h1> {{strdetails | slice:3:8}} </h1> -->

<!-- <h1> {{myobj | json}} </h1>

<h1> {{5.6784 | number:'1.2-3' }} </h1>
<h1> {{5.6789 | number:'1.2-3' }} </h1>
<h1> {{5.6 | number: '1.2-3'}} </h1>
<h1> {{5.6 | number: '2.2-3'}} </h1>
<h1> {{25.6 | number: '1.2-3'}} </h1>
<h1> {{30005489.6 | number: '1-3.2-3'}} </h1> -->

<!-- <h1> {{25.678 | number:'1.0-0'}} </h1>
<h1> {{-805.456 | number: '2.1-4'}} </h1>

<h1> {{20.431 | number: '1.0-0'}} </h1>

<h1> {{0.25 | percent}} </h1>
<h1> {{0.25 |percent:'1.1'}} </h1>
<h1> {{0.025 | percent:'1.1'}} </h1>
<h2> {{0.091 | percent :'1.2'}} </h2> -->
<!-- <h2> {{0.025 | percent:'2.1'}} </h2> -->

 <!-- <h1> {{0.25 | currency}} </h1>
<h2> {{25 | currency : 'INR'}} </h2>
 <h2>{{25 | currency :'INR':'code'}} </h2>
<h2>{{0.25 | currency :'GBP'}} </h2>  
<h2> {{0.25 | currency:'GBP':'code'}} </h2>
<h2>{{25 | currency :'INR   ':'code'}} </h2> -->

<!-- <h1>{{mydate}}</h1>
<h1> {{mydate | date:'shortDate'}} </h1>
<h1> {{mydate| date:'dd-MM-yyyy'}} </h1>
<h1> {{mydate| date:'dd/MM/yyyy'}} </h1>
<h1> {{mydate| date : 'dd'}} </h1> -->
<h2> {{mydate | date :'mediumDate'}} </h2>
<h2> {{mydate | date :'hh:mm:ss'}} </h2>
<h2> {{mydate | date:'longDate'}} </h2>

<h1> {{mydate | date:'longDate'|uppercase}} </h1>



